article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*=======
Keyframe Animation for Image
=======*/
@keyframes sunshine{
  0%{transform: scale(1);transform:translate3d(0,30px,0);}
  44%{transform:translate3d(0,0,0);}
  46%{transform: scale(1);}
  48%{transform: scale(0.99);}
  50%{transform: scale(1.1);}
  52%{transform: scale(1);transform:translate3d(0,0,0);}
  100%{transform: scale(1);transform:translate3d(0,30px,0);}
}

@-webkit-keyframes sunshine{
  0%{transform: scale(1);transform:translate3d(0,30px,0);}
  44%{transform:translate3d(0,0,0);}
  46%{transform: scale(1);}
  48%{transform: scale(0.99);}
  50%{transform: scale(1.1);}
  52%{transform: scale(1);transform:translate3d(0,0,0);}
  100%{transform: scale(1);transform:translate3d(0,30px,0);}
}
@keyframes clouds{
  0%{opacity:0.8;transform:translate3d(0,0,0);}
  50%{transform:translate3d(5px,0,0);}
  80%{opacity:1;}
  86%{opacity:1;}
  100%{opacity:0.8;transform:translate3d(0,0,0);}
}

@-webkit-keyframes clouds{
  0%{opacity:0.8;transform:translate3d(0,0,0);}
  50%{transform:translate3d(0,5px,0);}
  80%{opacity:1;}
  86%{opacity:1;}
  100%{opacity:0.8;transform:translate3d(0,0,0);}
}

@keyframes doorMove{
   0%{width: 10px; transform: translate3d(0,0,0);}
   35%{width: 10px; transform: translate3d(0,0,0);}
  40%{width: 20px; transform: translate3d(-10px,0,0);}
  60%{width: 20px; transform: translate3d(-10px,0,0);}
  65%{width: 10px; transform: translate3d(0,0,0);}
  100%{width: 10px; transform: translate3d(0,0,0);}
}

@-webkit-keyframes doorMove{
   0%{width: 10px; transform: translate3d(0,0,0);}
   35%{width: 10px; transform: translate3d(0,0,0);}
  40%{width: 20px; transform: translate3d(-10px,0,0);}
  60%{width: 20px; transform: translate3d(-10px,0,0);}
  65%{width: 10px; transform: translate3d(0,0,0);}
  100%{width: 10px; transform: translate3d(0,0,0);}
}

@keyframes doorHandleMove{
   0%{transform: translate3d(0,0,0);}
   35%{transform: translate3d(0,0,0);}
  40%{transform: translate3d(-10px,0,0);}
  60%{transform: translate3d(-10px,0,0);}
  65%{transform: translate3d(0,0,0);}
  100%{transform: translate3d(0,0,0);}
}

@-webkit-keyframes doorHandleMove{
   0%{transform: translate3d(0,0,0);}
   35%{transform: translate3d(0,0,0);}
  40%{transform: translate3d(-10px,0,0);}
  60%{transform: translate3d(-10px,0,0);}
  65%{transform: translate3d(0,0,0);}
  100%{transform: translate3d(0,0,0);}
}

@keyframes light{
  0%{fill:#34495D;}
  80%{fill:#34495D;}
  82%{fill:#F89406;}
  98%{fill:#F89406;}
  100%{fill:#34495D;}
}

@-webkit-keyframes light{
  0%{fill:#34495D;}
  80%{fill:#34495D;}
  82%{fill:#F89406;}
  98%{fill:#F89406;}
  100%{fill:#34495D;}
}

/*=======
main styling
=======*/
body {
  font-family: "Lato", sans-serif;
  font-size: 6vw;
  color: #EFEFEF;
  height:100vh;
  width:100vw;
  overflow: hidden;
}

.wrapper {
  height:100vh;
  width:100vw;
  text-align: center;
  overflow: hidden;
  background: #91daff;
  background: -webkit-linear-gradient(top, #91daff 0%, #409fdd 50%, #2095cf 100%);
  background: linear-gradient(to bottom, #91daff 0%, #409fdd 50%, #2095cf 100%);
}

h1 {
  text-transform: uppercase;
  font-size: 10vw;
  margin: 2vh 0 0 0;
  font-weight: 300;
}

.slide {
  width:100vw;
  margin: 0 auto;
  padding: 0;
  padding:5vh 2vw 5vh 3.5vw;
  position: absolute;
  top:20vh;
  right:100vw;
  text-align: left;
}

.title {
  font-weight: 900;
  font-size: 6vw;
  display: block;
  margin-bottom: 1vh;
}

.date {
  font-weight: 700;
  font-size: 4vw;
  display: block;
  margin-bottom: 1vh;
}

.details {
  font-size: 3.5vw;
  display: block;
  padding-right: 25vw;
}

.logo-area {
  position: absolute;
  left:3vw;
  bottom:2vw;
}

.image {
  width:25vw;
  height:25vw;
  position: absolute;
  right:1vw;
  bottom:0vh;
  z-index: 100;
}

#sun {
  animation: sunshine 20s ease-in;
  animation-fill-mode: forward;
  -webkit-animation: sunshine 20s ease-in;
  -webkit-animation-fill-mode: forward;
  transform-origin: center center;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

#cloud {
  animation: clouds 20s ease-in;
  animation-fill-mode: forward;
  -webkit-animation: clouds 20s ease-in;
  -webkit-animation-fill-mode: forward;
  transform-origin: center center;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

#door {
  animation: doorMove 10s ease-in 3s;
  animation-fill-mode: forward;
  -webkit-animation: doorMove 10s ease-in 3s;
  -webkit-animation-fill-mode: forward;
  transform-origin: center center;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

#door-handle {
  animation: doorHandleMove 10s ease-in 3s;
  animation-fill-mode: forward;
  -webkit-animation: doorHandleMove 10s ease-in 3s;
  -webkit-animation-fill-mode: forward;
  transform-origin: center center;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

#window-1 {
  animation: light 20s ease-in 5s;
  animation-fill-mode: forward;
  -webkit-animation: light 20s ease-in 5s;
  -webkit-animation-fill-mode: forward;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

#window-2 {
  animation: light 10s ease-in 14s;
  animation-fill-mode: forward;
  -webkit-animation: light 10s ease-in 14s;
  -webkit-animation-fill-mode: forward;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

h3 {
  opacity:0.3;
  font-weight: 900;
  font-size: 3vw;
}


